/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/*
Primeng style overwrite
*/

body .ui-messages {
  margin: 1px 0;
}

body .ui-messages .ui-messages-icon {
  display: none;
}